@model Entity.Dtos.ProductDetailDto
@{
    ViewData["Title"] = "Details";
}

@if (Model == null)
{
    @await Html.PartialAsync("_noProducts")
}
else
{
    <div class="col-12">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/assets/images/@Model.ImagePath" class="img-fluid rounded-start" alt="photo">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">@Model.ProductName</h3>
                        <p class="card-text"><span style="font-weight: bold">Author</span> : @Model.AuthorName</p>
                        <p class="card-text"><span style="font-weight: bold">Publisher</span> : @Model.PublisherName</p>
                        <p class="card-text"><span style="font-weight: bold">Genre</span> : @Model.GenreName</p>
                        <p class="card-text"><span style="font-weight: bold">Description</span> : @Model.Description</p>
                        <p class="card-text"><span style="font-weight: bold">Price</span> : @Model.UnitPrice $</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <button type="button" class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

